.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		text-align: center;
		border-radius: 10rem;
		transition: all .2s;
		position: relative;
		font-size: $default-font-size;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba($dark,.2);
	
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem .7rem rgba($dark,.2);
	}
	
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: $light;
	
		transition: all .4s;
	
	}

	&--white {
		background-color: $light;
		color: #777777;
	}

	&--animated {
		animation: moveInBottom 1s ease .75s backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		color: $primary-color;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $primary-color;
		padding: 3px;
		font-size: $default-font-size;
		transition: .3s all ease;
		
	}

	&:hover {
		background-color: $primary-color;
		color: $light;
		box-shadow: 0 1rem 2rem rgba($dark, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($dark, .15);
		transform: translateY(0);
	}
}